#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .lock
*.lock.hcl

# .tfvars files
*.tfvars

# no creds
*.pem

# terraformrc file
terraform.rc
.terraformrc

# ignore public directory
public/

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json